Source: dj64dev
Section: devel
Priority: optional
Maintainer: Stas Sergeev <stsp@users.sourceforge.net>
Standards-Version: 3.9.7
Build-Depends:
    make,
    thunk-gen,
    sed,
    bash,
    gcc,
    binutils,
    gcc-i686-linux-gnu,
    binutils-i686-linux-gnu,
    universal-ctags,
    pkg-config,
    libelf-dev,
    debhelper (>= 9~)
Homepage: https://github.com/stsp/djgpp-cvs
Description: 64-bit djgpp-compatible dev suite
 dj64dev is a 64-bit djgpp-compatible dev suite.

Package: dj64
Architecture: any
Section: devel
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: dj64 runtime libraries
 This package contains runtime libraries for dj64-built programs.

Package: dj64-dev
Architecture: any
Section: libdevel
Priority: optional
Depends: dj64 (= ${binary:Version}), ${misc:Depends},
    thunk-gen,
    gcc,
    binutils,
    binutils-i686-linux-gnu,
    pkg-config,
    bash,
    sed
Description: dj64 development tools and headers
 This package contains tools and headers for building dj64-enabled programs.

Package: dj64-dev-static
Architecture: any
Section: libdevel
Priority: optional
Depends: dj64-dev (= ${binary:Version})
Description: dj64 static libraries
 This package contains static libraries for dj64.
 May be needed on non-glibc systems.

Package: djdev64
Architecture: any
Section: devel
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: djdev64 runtime libraries
 This package contains runtime libraries for djdev64-enabled DPMI host.

Package: djdev64-dev
Architecture: any
Section: libdevel
Priority: optional
Depends: djdev64 (= ${binary:Version}), ${misc:Depends}
Description: djdev64 development libraries and headers
 This package contains development libraries and headers for
 djdev64-enabled DPMI host.
